---
import Base from "../../layouts/Base.astro";
---
<Base title="Get Involved">
  <h1 class="text-3xl font-semibold mb-4">Get Involved</h1>
  <ul class="list-disc ml-5 text-gray-800">
    <li><a class="underline" href="/get-involved/volunteer">Volunteer</a></li>
    <li><a class="underline" href="/get-involved/foster-care">Foster Care</a></li>
    <li><a class="underline" href="/get-involved/pet-couriers">Pet Couriers</a></li>
    <li><a class="underline" href="/get-involved/fundraise">Fundraise</a></li>
    <li><a class="underline" href="/get-involved/bequests">Bequests</a></li>
    <li><a class="underline" href="/get-involved/goodwill-wines">Goodwill Wines</a></li>
  </ul>
</Base>