---
import Base from "../../../layouts/Base.astro";
---
<Base title="Bequests">
  <h1 class="text-3xl font-semibold mb-4">Bequests</h1>
  <p class="text-gray-700">Information about leaving a bequest coming soon.</p>
</Base>